<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ureca.fitlog.profile.mapper.ProfileMapper">

    <!-- 프로필 조회 -->
    <select id="findProfileByLoginId"
            parameterType="string"
            resultType="com.ureca.fitlog.profile.dto.response.ProfileResponseDTO">
        SELECT
            username,
            bio,
            profile_image AS profileImage,
            birth_date AS birthDate
        FROM users
        WHERE login_id = #{loginId}
    </select>

    <!-- 프로필 수정 -->
    <update id="updateProfile">
        UPDATE users
        <set>
            <if test="request.username != null">
                username = #{request.username},
            </if>
            <if test="request.birthDate != null">
                birth_date = #{request.birthDate},
            </if>
            <if test="request.bio != null">
                bio = #{request.bio},
            </if>
            <if test="request.bio == null">
                bio = NULL,
            </if>
            <!-- shouldUpdateImage가 true일 때만 이미지 업데이트 (null 포함) -->
            <if test="shouldUpdateImage">
                profile_image = #{profileImage},
            </if>
            updated_at = CURRENT_TIMESTAMP
        </set>
        WHERE login_id = #{loginId}
    </update>


</mapper>