<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ureca.fitlog.mapper.TodoMapper">
    <!-- todo 생성 -->
    <insert id="insertTodo" parameterType="com.ureca.fitlog.dto.TodoRequestDTO">
        INSERT INTO todos (
        user_id, exercise_id, date, sets_number, reps_target, rest_time, is_completed
        )
        VALUES (
        --
        1,

        #{exerciseId},
        #{date},
        #{setsNumber},
        #{repsTarget},
        #{restTime},
        #{isCompleted}
        );
    </insert>

    <!-- 날짜별 투두 조회 -->
    <select id="findTodosByDate" parameterType="java.time.LocalDate"
            resultType="com.ureca.fitlog.dto.TodoResponseDTO$TodoItem">
        SELECT
            t.todo_id AS todoId,
            e.name AS exerciseName,
            t.sets_number AS setsNumber,
            t.reps_target AS repsTarget,
            t.rest_time AS restTime,
            t.is_completed AS isCompleted
        FROM todos t
                 JOIN exercises e ON t.exercise_id = e.exercise_id
        WHERE t.date = #{date}
        ORDER BY t.todo_id ASC;
    </select>

    <!-- 완료 상태 업데이트 -->
    <update id="updateTodoCompletion">
        UPDATE todos
        SET is_completed = #{isCompleted}
        WHERE todo_id = #{todoId};
    </update>

    <!-- 투두 수정 -->
    <update id="updateTodo" parameterType="com.ureca.fitlog.dto.TodoRequestDTO">
        UPDATE todos
        SET
            date = #{date},
            exercise_id = #{exerciseId},
            sets_number = #{setsNumber},
            reps_target = #{repsTarget},
            rest_time = #{restTime},
            is_completed = #{isCompleted},
            updated_at = CURRENT_TIMESTAMP
        WHERE todo_id = #{todoId};
    </update>
    <!-- 삭제 -->
    <delete id="deleteTodoById">
        DELETE FROM todos
        WHERE todo_id = #{todoId};
    </delete>
</mapper>
